:root {
  --bg-color: #0d0d0d;
  --bg-secundary-color: #272727;
}

.App {

  /* Configuração de tamanho*/
  width: 100vw;
  height: 100vh;

  /* Configuração de Alinhamento*/
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
}

.main {
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main input {
  margin-block: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
}


.main form{
  display: grid;
  grid-template
}

.main input:focus {
  outline-color: black;

}

.container {
  margin: 0 auto;
  width: 30vw;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: var(--bg-secundary-color);
  padding: 2rem;
}

.container a img {
  text-decoration: none;
  width: 13vw;
  border-radius: 90px;
  border-color: rgb(149, 57, 177);
  border-width: 2px;
  border-style: solid;
}

.container a {
  margin: auto;
}

.infos {
  font-size: 1rem;
}